*{
    box-sizing: border-box;
}
.siderbar{
    width: 240px;
    height: 100%;
    border-right: 1px solid black;
}

@media (max-width: 768px) {
    .siderbar {
        width: 200px;
    }
}

@media (max-width: 640px) {
    .siderbar {
        width: 180px;
    }
}

.logo-img img{
    width: 30px;
}
.logo-text img{
    width: 80px;
}

@media (max-width: 640px) {
    .logo-text img {
        width: 60px;
    }
}

.nav-list a:hover {
    color: orange;
    background-color: rgba(255, 166, 0, 0.098);
    border-radius: 10px;
}
.nav-bar{
    width: 100%;
    justify-content: space-between;
    padding-bottom: 9px;
    align-items: center;
    height: auto;
}
.itme img{
    width: 45px; 
    border-radius: 50%;  
}

@media (max-width: 640px) {
    .itme img {
        width: 35px;
    }
}

.text-ixon{
    display: flex;
    justify-content: space-between;
}